<!DOCTYPE html>
<html>
    <head>
        <title>Oh no!</title>
        <% include partials/head %>
        <link rel="stylesheet" href="/css/landingPage.css">
    </head>
    <body>
        <div class="page-container center">
            <div class="form-card">
                <h3>You're lost!</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dignissimos vero illum, quibusdam dicta fugit voluptatum impedit nam similique laudantium, provident delectus reiciendis quis voluptatem officiis placeat tempore? Laborum, nemo.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem earum, minus quo iure aliquam amet veritatis error quibusdam nisi voluptatibus, obcaecati adipisci accusantium sed laborum alias quaerat porro? Tempora, iste!</p>
            </div>
        </div>
    </body>
</html>